[package]
name = "join"
version = "0.1.0-alpha.1"
authors = ["olegnn <olegnosov1@gmail.com>"]
license = "MIT"
description = """
Macro which provides useful shortcut combinators, combines sync/async chains, transforms tuple of results in result of tuple, 
supports single and multi thread (sync/async) step by step execution of branches.
"""
edition = "2018"
repository = "https://github.com/olegnn/join"
documentation = "https://docs.rs/join"
readme = "README.md"

[lib]
name = "join"

[dependencies]
proc-macro-hack = "0.5.10"
proc-macro-nested = "0.1.3"
join_export = { path = "../join_export", version = "0.1.0-alpha.1" }

[dev-dependencies]
futures = { version = "=0.3.0-alpha.19", package = "futures-preview", features=["async-await"] }
tokio = "0.2.0-alpha.5"
failure = "0.1.6"
futures-timer = "1.0.2"
reqwest = "0.10.0-alpha.1"
rand = "0.7.2"